#profile-form {
    display: flex;
    flex-direction: column;
    width: 80vw;
    max-width: 600px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: flex-start; /* Align content to the start */
}

#profile-form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
    width: 100%; /* Ensure the heading is centered */
}

#profile-form input[type="text"],
#profile-form input[type="date"],
#profile-form input[type="email"],
#profile-form button {
    margin-bottom: 15px;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    transition: border-color 0.3s ease;
}

#profile-form input[type="text"]:focus,
#profile-form input[type="date"]:focus,
#profile-form input[type="email"]:focus {
    border-color: #000;
    outline: none;
}

#profile-form button {
    background-color: #000; /* Change button color to black */
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
}

#profile-form button:hover {
    background-color: #333; /* Darker shade of black for hover effect */
}

#profile-form p {
    color: red;
    text-align: center;
    font-size: 14px;
}