.patient-dashboard-container {
    display: grid;
    grid-template-columns: 300px 1fr; 
    width: 90vw;
    height: 90vh;
    background-color: #ffffff;
    border-radius: 15px;
    position: relative;
}

.patient-sidebar {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    border-radius: 15px 0 0 15px;
    position: relative; 
    box-sizing: border-box;
}

.patient-sidebar::after {
    content: '';
    position: absolute;
    top: 30px; 
    right: 0;
    height: calc(100% - 60px);
    width: 1px; 
    background-color: #000000; 
}

.patient-sidebar h2 {
    text-align: center;
    color: #000000;
    margin-bottom: 50px;
}

.patient-sidebar-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.patient-sidebar-nav .patient-nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 15px;
    color: #000000;
    text-decoration: none;
    transition: all 0.2s ease;
    border-radius: 8px;
    margin-bottom: 15px;
    font-weight: 400;
    background-color: transparent;
    position: relative;
}

.patient-sidebar-nav .patient-nav-item i {
    margin-right: 10px;
    font-size: 16px;
    color: #000000;
}

.patient-sidebar-nav .patient-nav-item:hover {
    background-color: #f5f5f5;
}

.patient-logout-button {
    margin-top: auto;
    padding: 12px 15px;
    background-color: #000000;
    border: none;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.2s ease;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 8px;
}

.patient-logout-button:hover {
    background-color: #333333;
}

.patient-main-content {
    padding: 30px;
    background-color: #ffffff;
    border-radius: 0 15px 15px 0; 
    overflow-y: auto; 
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
}
